<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="FavoriteMovie" value="Dune" />
    <add key="FavoriteDirector" value="James Cameron" />
    <add key="FavoriteActor" value="Johnny Depp" />
  </appSettings>

  <!-- When providing passwords, this section should be encrypted, or the configuration file's security should be set. -->
  <connectionStrings>
    <clear />
    <add name="Movies" connectionString="DataSource=localhost;Initial Catalog=MovieCatalog;Integrated Security=True" />
  </connectionStrings>

  <Custom>
    <add key="Password" value="abc123" />
  </Custom>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="Memory" name="logmemory"
              layout="${longdate} ${uppercase:${level:padding=-5}} ${message}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Warning" writeTo="logmemory" />
    </rules>
  </nlog>

</configuration>
